[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
auto_detect_solc = true
remappings = ["@openzeppelin/=lib/openzeppelin-contracts/"]

[rpc_endpoints]
hoodi = "https://rpc.hoodi.ethpandaops.io"
